<div class="page-header">
  <h3>Viewer #<%= @viewer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @viewer.user.present? %>
          <a href="/users/<%= @viewer.user_id %>">
            <%= @viewer.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Restaurant</dt>
      <dd>
        <% if @viewer.restaurant.present? %>
          <a href="/restaurants/<%= @viewer.restaurant_id %>">
            <%= @viewer.restaurant.description %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/viewers" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @viewer.user %>
        <a href="/viewers/<%= @viewer.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_viewer/<%= @viewer.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
