<div class="page-header">
  <h3>State #<%= @state.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/states" class="btn btn-primary">
        Back
      </a>
      <a href="/states/<%= @state.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_state/<%= @state.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A State has many cities -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Cities
      </li>

      <% @state.cities.each do |city| %>
        <li class="list-group-item">
          <a href="/cities/<%= city.id %>">
            <%= city.state_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/cities/<%= city.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/cities/<%= city.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_city/<%= city.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_city" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for state_id -->
      <input type="hidden" name="state_id" value="<%= @state.id %>">

      <button class="btn btn-block btn-success">
        Create City
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
